<h1>New Question</h1>
<br>

<% if @validate_post%>
  <p style="color: red"><%= @mensaje %></p><br>
  <form method="post" action="/post/new">

<input type="text" name="title" placeholder="Add your question here..."><br><br>
<textarea name="body" cols="40" rows="5" placeholder="Add some text for better understanding of your question..."></textarea><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Crear">
</form>
<% else%>

<form method="post" action="/post/new">

<input type="text" name="title" placeholder="Título del Blog"><br><br>
<textarea name="body" cols="40" rows="5" placeholder="Agrega el contenido"></textarea><br><br>
<label for="post_tags">Tags:</label>
<input id="post_tags" name="post_tags" placeholder="tag1, tag2, otro tag..."><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Crear">
</form>

<% end%>

