<h1>New Question</h1>
<br>

<% if @validate_question%>
  <p style="color: red"><%= @mess %></p><br>
<form method="post" action="/questions/new">

<input type="text" name="title" placeholder="Add your question..."><br><br>
<textarea name="body" cols="40" rows="5" placeholder="Add some text for better understanding of your question..."></textarea><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Ask">
</form>
<% else%>

<form method="post" action="/questions/new">

<input type="text" name="title" placeholder="Add your question..."><br><br>
<textarea name="body" cols="40" rows="5" placeholder="Add some text for better understanding of your question..."></textarea><br><br>
<input class="btn btn-primary" type="submit" name="create" value="Ask">
</form>
<% end%>

