  <h1>Bienvenido a Bitly</h1>
  <p>Bitly es una aplicación que te permite reducir tus URLs. Por favor elige una opción</p>

  <ul><br>
    <li><a href="/urls_all">Reducir URL</a>
    <li><a href="/start/login">Iniciar Sesión</a>
    <li><a href="/register/signup">Crear Cuenta</a>
  </ul><br>

    
