<h1>Inicia Sesión</h1>

<form action="/inicia_sesion" method="post">
  Email:<br>
  <input type="text" name="email"><br><br>
  Password:<br>
  <input type="password" name="password"><br><br>
  <input type="submit" value="Inicia Sesión">
</form><br><br>


<a href="/">Página de Inicio</a>

