  <h1>Abuelita Sordita</h1>

  <span></span>
  <br>
  <br>

  <form id ="forma" action="/abuelita" method="post">
    Saluda a tu abuelita, hijo. Recuerda que está un poco sorda. Si crees que no te escucha, ¡GRÍTALE!. Si quieres dejar de hablarle grítale un BYE:
    <br>
    <input id="text_str" type="text" name="user_input">
    <input type="submit" value="Dilo!">
  </form>

