<h1>Upload your Selfie!</h1>
<br>


<form method="post" enctype='multipart/form-data' action="upload">

  <input type='file' name='photo[photo]'>
  <br/>
  <input class="btn btn-primary" type='submit' value='Upload!'>
</form>



