<h1>P치gina Secreta</h1>

<%= session[:user_id] %>

<%  if @user %>
  <p>Esta es tu p치gina secreta <%= @user.first_name %></p>
  <a href="/signout">Cerrar Sesi칩n</a>
<% else %>
  <p>Lo siento, pero no has iniciado sesi칩n</p>
  <a href="/start">Inicio</a>
<% end %>



