<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
    <button id="start_btn"></button><br><br>
    <p style="float: left"><span id="left"> Presiona el botón para iniciar el juego</span></p>

    <p style="float: right"><span id="right"></span></p><br><br>

    <table class="table" style="float:left">
      <tr id="Player1">
        <td id="player1"><strong>Jugador 1</strong></td>
        <td></td>
      </tr>

      <tr id="Player2">
        <td id="player2"><strong>Jugador 2</strong></td>
        <td></td>
      </tr>
    </table>
