<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">RAYUELEANDO</h1>
 <p style="float: left">Juegos ganados de ambos jugadores<span></p><br><br><br>
 <ul>
  <li> <a href="/start">Seguir Jugando</a></li>
  <li> <a href="/">Reiniciar Juego/Jugadores</a></li>


