<header>
  <img src="img/codea-logo.png" id="logo">
</header>

<h1 id="main-title">¡RAYUELA!</h1>
<div id="form_users">
<form action="/start">
  Jugador 1:<br>
  <input type="text" name="player_1"><br>
  Jugador 2:<br>
  <input type="text" name="player_2">
  <input type="submit" value="Listo">
</form>
</div>

