  <h1>Blog Anónimo</h1>
  <h4>Bienvenido a este blog anónimo.</h4><br>

 <p>
 <a href="/post/new" > <i class="fa fa-pencil"> &nbsp;</i>Crear Nuevo Post</a></li><br>
 <a href="/post"><i class="fa fa-file-text"> &nbsp;</i>Mostrar Posts</a></li>
</p>
  
