  <h1>Quora 2.0</h1>
  <h4>Welcome to Quora 2.0, the sexy brother of "Quora".</h4><br>
<p>Please, choose an option.</p>
 <p>
 <a href="/login" > <i class="fa fa-sign-in"> &nbsp;</i>Log In</a></li><br>
 <a href="/signup"><i class="fa fa-pencil-square-o"> &nbsp;</i>Sign Up</a></li>
</p>
  
