<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css remueve las diferenecia que hay entre browsers segun los defaults de css predeterminados que utilizan. 
    Revisa: http://necolas.github.com/normalize.css/
  -->
 <!--  <link rel="stylesheet" href="/css/normalize.css"> -->
  <!--
    application.css este es el archivo donde van tus estilos, tu css
  -->
<!--   <link rel="stylesheet" href="/css/application.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/"><i class="fa fa-paperclip"></i>QUORA 2.0</a>
  <ul class="nav navbar-nav">
<% if logged_in? %>

  <li><a href="/questions/new">Post New Question</a></li>
  <li><a href="/questions/all_users">Answer Question</a></li>
  <li><a href="/questions"><%= current_user.first_name%>&nbsp;<%= current_user.last_name%></a></li>
  <li><a href="/logout">Log Out</a></li>
<% else %>
  <li><a href="/login">Log In</a></li>
  <li><a href="/signup">Sign Up</a></li>
<% end%>
  </ul>
</nav>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
