<h1>Bitly</h1>
  <br>
  <br>
  <p>Introduce otra URL para reducirla. Recuerda que debe comenzar con "http://www."</p>
  <%= erb :_urls %>
  <br>
  <p> Elige una de las siguientes opciones</p>
    <ul><br>
    <li><a href="/start/login">Iniciar Sesión</a>
    <li><a href="/register/signup">Crear Cuenta</a>
  </ul> <br>