  <h1>Blog Anónimo</h1>
  <p>Bienvenido a este blog anónimo.</p>

  <ul>
  <li><a href="/post/new">Crear Nuevo Post</a></li>
  <li><a href="/post">Mostrar Posts</a></li>
  <li><a href="/post/edit">Editar Post</a></li>
  <li><a href="/post/delete">Eliminar Post</a></li>
  </ul>

  
