  <h1>Posts</h1>
  <p>Posts anónimos hasta el momento.</p>

  

  <ul>
  <li><a href="/post/new">Crear Post</a></li>
  <li><a href="/post/edit">Editar Post</a></li>
  <li><a href="/post/delete">Eliminar Post</a></li>
  </ul>