  <h1>Bitly 2.0</h1>
  <p>Crea tu propia URL reducida</p>
  <br><br>
  <form id ="forma" action="/urls" method="post">
    <br>
    <input type="text" name="url_input">
    <input type="submit" value="ReduceURL">
  </form>
