<h1><%=@survey.title%></h1>

<form id="signup" method="post" action="/signup/create">
<div class="form-group">
</div>
<input class="btn btn-primary" type="submit" name="submit" value="Complete Survey">
</form>

